= form_for [@user, @workout] do |f|
  - if @workout.errors.any?
    #error_explanation
      %h2= "#{pluralize(@workout.errors.count, "error")} prohibited this workout from being saved:"
      %ul
        - @workout.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :desc
    = f.text_area :desc
  .field
    = f.label :date
    = f.date_select :date, start_year: Date.today.year - 100, end_year: Date.today.year, order: [:day, :month, :year], use_month_numbers: true
  .field
    = f.label :intensity
    = f.number_field :intensity
  .field
    = f.label :workout_type
    = f.select :workout_type, Workout.workout_types.keys
  -#.field
  -#  = f.label :user
  -#  = f.text_field :user
  .actions
    = f.submit 'Save'
