%h1 Listing workouts

- @workouts.each do |workout|
  .card
    =image_tag url_for(workout.user.profile_pic), class: 'profile-pic'
    %h1{ :class => "name" }= workout.user.first_name
    %h2{ :class => "intensity" }= "#{workout.intensity} /10"
    %h2{ :class => "title" }= workout.title
    %h5{ :class => "date" }= workout.date
    %p{ :class => "desc"}= workout.desc
    -#= link_to 'Show User', [@user]
    -#= link_to 'Edit Workout', edit_user_workout_path(@user, workout)
    -#= link_to 'Destroy Workout', [@user, workout], method: :delete, data: { confirm: 'Are you sure?' }

%a{ :href => new_user_workout_path(@user.id) }
  %button{ :class => "fab" }
    +
